/*
.swapto{
    background: url("bodybacklogin.jpg");
     background-size: cover; 
     background-position: center; 
      filter: blur(10); 
      border-radius: 0%; 
      position: static;
       padding-top: 100%;
       font-size: larger;

       #ECECEA  #D9853B #74AFAD #558C89 
}
*/
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.body{
    background: linear-gradient(#558C89 , #ECECEA,#558C89 );
}
.nav{
    background-color: rgb(123, 150, 173);
    width: 100%;
    padding: 5px;
    font-size: 2vw;
    border-radius: 22px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
}

.nav > * {
    display: flex; 
    align-items: center; 
}
@media (max-width: 768px) {
    .nav {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px; 
    }

    .nav > * {
        margin-bottom: 5px;
    }
}

.search>input{
    background-color: rgb(255, 255, 255);
    width: auto;
    padding: 5px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    color: black;
    margin-right: 10px;
    
}
#searchbutton{
    background-color:rgb(107, 137, 163) ;
    border: none;
    color: black;
}
select{
  border-radius: 20px;
  margin-right: 10px;
  color: black;
 text-decoration:none;
 padding: 8px 16px ;
 background-color: rgb(123, 150, 173);
 border: 4px solid color rgba(146, 100, 69, 0.829);
}

.nav>a{
 color: black;
 text-decoration:none;
 padding: 8px 16px ;
 border-radius: 22px;

}
.nav>a:hover{
transition: 0.25s;
background: rgba(255, 255, 255, 0.829);
color:rgb(0, 0, 0);

}
.nav>a>button{
    background-color:rgb(123, 150, 173) ;
    color: black;
 text-decoration:none;
 padding: 4px 6px ;
 border-radius: 22px ;
 border: 3px red;
}
.nav>a>button:hover{
    transition: 0.25s;
    background:  rgba(255, 255, 255, 0.829);
    background-color:  rgba(255, 255, 255, 0.829);
    color:rgb(0, 0, 0);
    
}
/*Home page */
.home{
   display: flex;
    .home-img{
        margin-top: 10%;
        padding-right: auto;
        margin-left: 800px;
        padding-bottom: 400px;
        padding-left: 100px;
       background-image: url("home-img.jpg");
        border: 2px solid rgb(255, 255, 255);
        width: 35%;
        height: 50%;
        border-radius: 15px;
        box-shadow: 0px 0px 0px rgba(0,0, 1);
        background-position: center;
        background-size: cover;
        filter: blur(1);
        color: white
    }
    .home-img2{
        margin-left: 5%;
        margin-top: 15%;
        border: 2px solid rgb(255, 255, 255);
        width: 60%;
        height: 550px;
        border-radius: 15px;
        box-shadow: 0px 0px 0px rgba(0,0, 1);
        background-image: url("hom-im2.jpg");
        background-position: center;
        background-size: cover;
        filter: blur(1);
        color: white
    }
    .home0{
        margin-top: 10%;
        padding-right: 60px;
        margin-left: 90px;
        padding-bottom: 1px;
        padding-left: 1px;
       background-color:#05816244;
        border: 2px solid rgb(255, 255, 255);
        width: 35%;
        height: 1%;
        border-radius: 15px;
        box-shadow: 0px 0px 0px rgba(0,0, 1);
        background-position: center;
        filter: blur(1);
        color: white
    }
    .home1{
        color: white;
        padding-top: 10px;
        padding-right: 60px;
        margin-left: 100px;
        padding-bottom: 20px;
        background: center;
       background-color:#5a2c0d81;
        border: 2px solid rgb(255, 255, 255);
        width: 25%;
        height: 5%;
        border-radius: 15px;
        box-shadow: 0px 0px 0px rgba(0,0, 1);
        background-position: center;
        filter: blur(1);

        a{
            >button{
                margin-right: 10px;
                background-color: #7f72ceb9 ;
                color: rgb(255, 255, 255);
                text-decoration:none;
                padding-right: 2%;
                padding: 11px 20px ;
                border-radius: 22px ;
                border: 3px solid rgb(255, 255, 255);
            }
            >button:hover{
                transition: 0.25s;
                background:  rgba(255, 255, 255, 0.829);
                background-color:  rgba(255, 255, 255, 0.829);
                color:rgb(0, 0, 0);
                border: 3px solid rgba(2, 160, 2, 0.808);

          }
        }
    }
}
/*login form*/
.bord{
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 500px;
    margin-right: 200px;
    padding-top: 15px;
    padding-left: 30px;
    background: center;
   background-color: #d9853b71;
    border: 2px solid rgb(255, 255, 255);
    width: 400px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(0,0, 1);
    background-position: center;
    background-size: 1000px;
    filter: blur(1);

}
.form-log{
    display: flex;
    padding-top: 15px;
    padding-left: 90px;
.logo>label{
    font-size: 35px;
    color: #502a09;
    font-family:cursive;
    padding-right: 10px;
 
    padding-bottom: 20px;

}
.user-name>label{
    border: 1px solid black; 
    border-radius: 5px; 
    background-color:#74AFAD ;
     color: rgb(255, 255, 255);
 margin-top: 10px;
      padding-left: 1%;
       padding-right: 1%;
}
.user-name>input{
    border-radius: 5px; 
    border: 1px solid rgb(99, 180, 180);
    margin-top: 7px; 
    background-color: rgb(226, 215, 190);
}
}
.form-log{
    display: flex;
    .password>label{
    border: 1px solid black; 
    border-radius: 5px; 
    background-color:  #74AFAD  ;
   
     color: rgb(255, 255, 255); 
     padding-left: 1%; 
     padding-right: 1%; 
      margin-right: 7px;
}
.password>input{
    border-radius: 5px;
     border: 1px solid rgb(99, 180, 180);
      margin-top: 7px;
       background-color: rgb(226, 215, 190);
}
}


#Register,#Submit{
    padding: 2px;
    width: 68px;
    height: 20px;
    background-color: #502a09;
    color: white;
    border-radius: 16%;
    -webkit-border-radius: 16%;
    -moz-border-radius: 16%;
    -ms-border-radius: 16%;
    -o-border-radius: 16%;
}
::placeholder{
    color: rgb(132, 85, 85);
}
.Footer-links{
    display: flex;
    border: 1px solid black;
    border-radius:10px;
    background-color: rgb(216, 170, 130);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    color: rgb(0, 0, 0);
    margin-left: 86px;
    text-align: center;
    position: absolute ;
    margin-top: 1%;
    width: 5%;
    padding: 1px;
}
.Contact{
width: 4%;
margin-left: 0px;
}
.footer{
    border: 1px solid white;
    background-color:  rgb(211, 192, 151);
    padding-bottom: 3px;

}
.button-log>button{
    border-radius: 5px;
    border: 2px solid rgb(255, 136, 0);
    margin-top: 7px;
    background-color:#74afadd2 ;
     color:white;
}
.button-log>a>button{
     border-radius: 5px;
     border: 2px solid rgb(255, 136, 0);
     margin-top: 7px;
     background-color:#74afadd2 ;
     color:white;
}
/*Add Book*/
.adding-books{
    display: flex;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 300px;
    margin-right: 200px;
    padding-top: 1px;
    padding-left: 4%;
    padding-bottom: 7%;
    background: center;
    background-color:#74AFAD;
    border: 2px solid rgb(255, 255, 255);
    width: 50%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(0,0, 1);
    background-position: center;
    background-size: 1000px;
    filter: blur(1);
}
.adding-books{
    display: flex;
    margin: auto;
    margin-top: 26px;
    .logo{
        font-size: 1.8vw;
        font-style: oblique; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-left: 29%;
        padding-top: 10%;
    }
    form{
        display: flex;
        margin: auto;
        padding-top: 20px;
        padding-left: 4%;
        padding-bottom: 1px;
        /* background: center; */
        background-color:#d68b4981;
        border: 2px solid rgb(255, 255, 255);
        width: 56%;
        height: 1%;
        border-radius: 20px;
        box-shadow: 0px 0px 0px rgba(0,0, 1);
        background-position: center;
        background-size: 1000px;
        filter: blur(1);
        
        .A-book-id{
            label
            {
            border: 1px solid black; 
            border-radius: 5px; 
            background-color: #74AFAD;
            color: rgb(255, 255, 255);
            margin-top: 1px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 15%;
            margin-bottom: 10px;
        }
            input{

                border-radius: 5px;
                border: 1px solid rgb(99, 180, 180);
                margin-top: 7px;
                width: 50%;
                background-color: rgb(226, 215, 190);
                margin-bottom: 15px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
}
        }
        .A-book-name{
            
        label{
            
            border: 1px solid black;
            border-radius: 5px;
            background-color:  #74AFAD;
            color: rgb(255, 255, 255);
            margin-top: 1px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 15%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}

            input{
               
                border-radius: 5px;
                border: 1px solid rgb(99, 180, 180);
                margin-top: 7px;
                width: 50%;
                background-color: rgb(226, 215, 190);
                margin-bottom: 15px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                }
        }
        .A-author{
           
            label{
                
                border: 1px solid black;
                border-radius: 5px;
                background-color:  #74AFAD;
                color: rgb(255, 255, 255);
                margin-top: 1px;
                padding-left: 1%;
                padding-right: 1%;
                margin-right: 15%;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
}
    
                input{
                  
                    border-radius: 5px; 
                    border: 1px solid rgb(99, 180, 180);
                    margin-top: 7px;
                    width: 50%;
                    background-color: rgb(226, 215, 190);
                    margin-bottom: 15px;
                }
            }

        .A-book-category{
           
            label{
               
            border: 1px solid black;
            border-radius: 5px;
            background-color:  #74AFAD;
            color: rgb(255, 255, 255);
            margin-top: 1px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 15%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
            input{
                
                border-radius: 5px; 
                border: 1px solid rgb(99, 180, 180);
                margin-top: 7px;
                width: 50%;
                background-color: rgb(226, 215, 190);
                margin-bottom: 50px;
            }
        }
    }
    
    .des-img-Add{
       
        position: top ;
        margin: auto;
        margin-top: 10px;
        padding-top: 20px;
        padding-left: 5%;
        padding-bottom: 10px;
        padding-right: 5%;
        background: center;
        background-color:#d68b4981;
        border: 2px solid rgb(255, 255, 255);
        width: 50%;
        height: 2%;
        border-radius: 20px;
        box-shadow: 0px 0px 0px rgba(0,0, 1);
        background-position: center;
        background-size: 1000px;
        filter: blur(1);
        
            .A-book-description{
               
                margin-top: 1%;
                label{
                border: 1px solid black; 
                border-radius: 5px; 
                background-color: #74AFAD;
                color: rgb(255, 255, 255);
                margin-top: 1px;
                padding-left: 1%;
                padding-right: 1%;
                margin-right: 15%;
                }
                textarea{
                    
                    border-radius: 5px; 
                    width:103%;
                    border: 1px solid rgb(99, 180, 180);
                    margin-top: 7px; 
                    background-color:#74afad69;
                }
            }
            .A-book-Image{
                
                label{
                    
                border: 1px solid black; 
                border-radius: 5px; 
                background-color:#74AFAD;
                color: rgb(255, 255, 255);
                margin-top: 1px;
                padding-left: 1%;
                padding-right: 1%;
                margin-right: 15%;
                }
                input{
                   
                    border-radius: 5px; 
                    border: 1px solid rgb(99, 180, 180);
                    margin-top: 7px; 
                    background-color: #74AFAD;
                }
            }
            /* .A-sumbit{
                input{
                    border-radius: 5px;
            border: 2px solid rgb(255, 136, 0);
            margin-top: 7px;
            background-color: #74afad81;
            color: white;
                }
            }  */
    }    
}
/*edit page*/
.Edit-Book{
    display: flex;
    margin: auto;
    margin-top:52px ;
    padding-top: 1px;
    padding-left: 4%;
    padding-bottom: 7%;
    background: center;
    background-color:#74AFAD;
    border: 2px solid rgb(255, 255, 255);
    width: 50%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(0,0, 1);
    background-position: center;
    background-size: 1000px;
    filter: blur(1);
    -webkit-filter: blur(1);
}
.Edit-Book{
    display: flex;
    position: relative;
    width: 50%;
    .logo{
       
        font-size: 200%; font-style: oblique; font-family: Georgia, 'Times New Roman', Times, serif;
        padding-left: 29%;
        padding-top: 10%;
    }
   
    form{
        
        margin-top: 3%;
        margin-bottom: 1%;
        margin-left: 120px;
        margin-right: 20px;
        padding-top: 20px;
        padding-left: 4%;
        padding-bottom: 1px;
        background: center;
       background-color:#d68b4981;
        border: 2px solid rgb(255, 255, 255);
        width: 56%;
        height: 1%;
        border-radius: 20px;
        box-shadow: 0px 0px 0px rgba(0,0, 1);
        background-position: center;
        background-size: 1000px;
        filter: blur(1);
        
        .E-book-name{
           
            label{
               
            border: 1px solid black; 
            border-radius: 5px; 
             background-color: #74AFAD;
            color: rgb(255, 255, 255);
            margin-top: 1px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 15%;
            margin-bottom: 10px;}
            input{
               
                border-radius: 5px; 
                border: 1px solid rgb(99, 180, 180);
                margin-top: 7px; 
                background-color: rgb(226, 215, 190);
                margin-bottom: 15px;
            }
        }
        .E-author{
            
        label{
            
            border: 1px solid black; 
            border-radius: 5px; 
             background-color:  #74AFAD;
            color: rgb(255, 255, 255);
            margin-top: 1px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 15%;}

            input{
                
                border-radius: 5px; 
                border: 1px solid rgb(99, 180, 180);
                margin-top: 7px; 
                background-color: rgb(226, 215, 190);
                margin-bottom: 15px;
            }
        }
        .E-book-category{
           
            label{
               
            border: 1px solid black; 
            border-radius: 5px; 
            background-color:  #74AFAD;
            color: rgb(255, 255, 255);
            margin-top: 1px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 15%;
            }
            input{
               
                border-radius: 5px; 
                border: 1px solid rgb(99, 180, 180);
                margin-top: 7px; 
                background-color: rgb(226, 215, 190);
                margin-bottom: 50px;

            }
        }
    }
    
}

.des-img{
    
    position: top ;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 120px;
    margin-right: 4%;
    padding-top: 20px;
    padding-left: 5%;
    padding-bottom: 10px;
    padding-right: 5%;
    background: center;
    background-color:#d68b4981;
    border: 2px solid rgb(255, 255, 255);
    width: 50%;
    height: 2%;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(0,0, 1);
    background-position: center;
    background-size: 1000px;
    filter: blur(1);
        .E-book-description{
           
            margin-top: 1%;
            label{
                
            border: 1px solid black; 
            border-radius: 5px; 
            background-color: #74AFAD;
            color: rgb(255, 255, 255);
            margin-top: 1px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 15%;
            }
            textarea{
               
                border-radius: 5px; 
                border: 1px solid rgb(99, 180, 180);
                margin-top: 7px; 
                background-color:#74afad69;
            }
        }
        .E-book-Image{
            
            label{
               
            border: 1px solid black; 
            border-radius: 5px; 
            background-color:#74AFAD;
            color: rgb(255, 255, 255);
            margin-top: 1px;
            padding-left: 1%;
            padding-right: 1%;
            margin-right: 15%;
            }
            input{
                
                border-radius: 5px; 
                border: 1px solid rgb(99, 180, 180);
                margin-top: 7px; 
                background-color: #74AFAD;
            }
        }
        .E-summit{
            
            input{
                
                border-radius: 5px;
        border: 2px solid rgb(255, 136, 0);
        margin-top: 7px;
        background-color: #74afad81;
        color: white;
            }
        } 
}    
/*sign up form*/
.Sign-Up input[type="password"],.Sign-Up input[type="text"]{
    width: 17.5vw;
}
.Sign-Up{
    display: flex;
    margin: auto;
    margin-top:52px ;
    padding: 2px;
    background: center;
    background-color:#d9853b73;
    border: 2px solid rgb(255, 255, 255);
    width: 40%;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(0,0, 1);
    background-position: center;
    background-size: 1000px;
    filter: blur(1);
}
.Sign-Up label{
   
    font-size: 1.3vw;
}
.sign-up-form{
    
    padding-top: 10px;
    padding-left: 50px;
.logo>label{
    
    font-size: 40px;
    color: #265f5d;
    font-family:cursive;
    padding-right: 10px;

} 
.Sign-Up-user-name>label{
    
    border: 1px solid black; 
    border-radius: 5px; 
    background-color: #74AFAD;
    color: rgb(255, 255, 255);
    margin-top: 1px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 15%;
    
}
.Sign-Up-user-name>input{
   
    border-radius: 5px; 
    border: 1px solid rgb(99, 180, 180);
    margin-top: 7px; 
    background-color: rgb(226, 215, 190);
}

.Sign-Up-password>label{
    
    border: 1px solid black; 
    border-radius: 5px; 
    background-color: #74AFAD;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 17%;
}
.Sign-Up-password>input{
    
    border-radius: 5px; 
    border: 1px solid rgb(99, 180, 180);
    margin-top: 7px; 
    background-color: rgb(226, 215, 190);
}
.Sign-Up-confirm-password>label{
    
    border: 1px solid black; 
    border-radius: 5px; 
    background-color: #74AFAD;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding-left: 1%;
    padding-right: 1%;
    
}
.Sign-Up-confirm-password>input{
   
    border-radius: 5px; 
    border: 1px solid rgb(99, 180, 180);
    margin-top: 7px; 
    background-color: rgb(226, 215, 190);
}
.signup-button>button{
   
    border-radius: 5px;
    border: 2px solid#74AFAD;
    margin-top: 7px;
    background-color: rgb(255, 242, 214);
}
.Sign-Up-radio>label{
   
    background-color:rgb(107, 137, 163) ;
    color: black;
    text-decoration:none;
    padding-right: 1%;
    padding: 3px 6px ;
    border-radius: 22px ;
    border: 3px red;
    
}
.Sign-Up-radio>label:hover{
   
    transition: 0.25s;
    background:  rgba(255, 255, 255, 0.829);
    background-color:  rgba(255, 255, 255, 0.829);
    color:rgb(0, 0, 0);
}
}

/*my book list message*/
main{
    display: flex;
    .mybooks-message{
       
        border: 2px solid rgb(255, 255, 255);
        width:70%;
        height: 65%;
        background-color: rgba(187, 17, 17, 0.459);
        border-radius: 22px;
        font-size: 70px;
        color: white;
    }
}
/*  the css code for romantic books */
.category{
    display: grid; width: 90%; margin: auto; grid-template-columns: repeat(4,1fr); grid-gap: 20px;
}
.category{
    
    .button{
        margin: auto;
      >button{
          margin: auto;
        background-color: #D9853B ;
        color: black;
        text-decoration:none;
        padding-right: 1%;
        padding: 3px 6px ;
        border-radius: 22px ;
        border: 3px red;
    }
    .Edit>a>button{
        margin: auto;
        background-color: #D9853B ;
        color: black;
        text-decoration:none;
        padding-right: 1%;
        padding: 3px 6px ;
        border-radius: 22px ;
        border: 3px red;
    }  
    }
    .button{
        >button:hover{
            transition: 0.25s;
            background:  rgba(255, 255, 255, 0.829);
            background-color:  rgba(255, 255, 255, 0.829);
            color:rgb(0, 0, 0);
    }
    .Edit>a>button:hover{
        transition: 0.25s;
        background:  rgba(255, 255, 255, 0.829);
        background-color:  rgba(255, 255, 255, 0.829);
        color:rgb(0, 0, 0);
    }  
    }
}
.category>div{
    
    width: 400px;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    }
    img{
        z-index: -1;
    }
    figcaption{
        width: 250px;
        height: 350px;
        /*padding: 2px;
        */margin-top: -350px;
        color: white;
        visibility: hidden;
        transition-property: visibility;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
        font-family: cursive;
        width: 250px;
        background-color: black;
        opacity: .6;
        color: black;
        height: 350px;
        border: 2px solid white;

}
img{
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
    figure:hover img{
    opacity: .2;
    z-index: -1;
    }
    figure:hover figcaption{
        visibility: visible;
        z-index: 2;
    }
    .fig-caption p{
        color: white;
    }
    @media  (max-width:770px) {
.category{
    display: grid; width: 90%; margin: auto; grid-template-columns: repeat(1,1fr); grid-gap: 20px;
}
    }
    @media  (min-width:771px) {
        .category{
            display: grid; width: 90%; margin: auto; grid-template-columns: repeat(2,1fr); grid-gap: 20px;
        }
    } 
    
    @media  (min-width:1205px) {
        .category{
            display: grid; width: 90%; margin: auto; grid-template-columns: repeat(3,1fr); grid-gap: 20px;
        }
    }
    @media  (min-width:1400px) {
        .category{
            display: grid; width: 90%; margin: auto; grid-template-columns: repeat(4,1fr); grid-gap: 20px;
        }
    } 
